.EditPassword {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.EditPassword h2 {
    font-weight: inherit;
}

.EditPassword input {
    margin-top: 10px;
    box-sizing: border-box;
    width: 550px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px; /* 피그마에는 2로 돼있었으나 티가 안나서 5px로 설정 */
}

.EditPassword input:focus {
    border: 1px solid #3BC9DB;
    outline: none;
}

.EditPassword .buttonWrap {

    width: auto;
    margin: 30px auto;
}