html, body {
  margin: 0 auto; /* 이거때매 calendar 에서 레이아웃깨짐 해결중 */
  padding: 0;
  width: 100%;
  margin-left: 350px; /* 강제로 밀어버림 */
}

span, a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
/* 각 페이지의 콘텐츠가 메뉴바 아래로 내려가도록 여백을 추가 */
.layout {
  margin-top: 50px; /* 네비게이션이랑 컨텐츠 간격조절 */
  padding: 0 20px; /* 양쪽 패딩 */
  box-sizing: border-box;
}
